<ion-header>
 <ion-toolbar>
  <ion-title>login</ion-title>
  </ion-toolbar>
 
    <ion-title>

</ion-title>
  

</ion-header>
<ion-content>
  <ion-card-content>

  <img alt="logo" height="100"  src="assets/Screenshot (49).png" >
</ion-card-content>
<ion-card>
<ion-list lines="full">
<br>
<br>
<br>
<br>


<ion-item>
<ion-label  position="floating" color="warning">Username</ion-label>
<ion-input type="text" placeholder="username"></ion-input>

</ion-item>


<ion-item>

<ion-label  position="floating" color="warning">Password</ion-label>
<ion-input type="password" placeholder="password"></ion-input>

</ion-item>
<ion-row>
<ion-button  type="submit" color="primary" expand="block" [routerLink]="['/tabs']">Login</ion-button>
<ion-button  type="submit" color="secondary" expand="block" [routerLink]="['/admin']">Admin</ion-button>

</ion-row>

</ion-list>

</ion-card>
</ion-content>
<footer>
2022 @ parliament
</footer>