<ion-header>
  <ion-toolbar>
    <ion-title>User Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  >
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Log Call</ion-label>
    </ion-tab-button>

    <ion-tab-button  >
      <ion-icon name="laptop-outline"></ion-icon>
      <ion-label>Allocate Incident</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>View Calls</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
</ion-content>
